				<p>
					<label>服务实例：</label>
					<input type="text" size="40" class="required textInput" name="" id="" value="nac_cup_sz" disabled="disabled" />
				</p>
				<p>
					<label>部署路径：</label>
					<input type="text" size="40" class="required textInput" name="" id="" value="/root/" disabled="disabled" />
				</p>
				<p>
					<label>部署组：</label>
					<input type="text" size="40" class="required textInput" name="" id="" value="root" disabled="disabled" />
				</p>
				<p>
					<label>部署用户：</label>
					<input type="text" size="40" class="required textInput" name="" id="" value="root" disabled="disabled" />
				</p>
				<p>
					<label>操作类型：</label>
					<select name="" id="" class="combox">
						<option value="1">实时</option>
						<option value="2">定时</option>
					</select>
				</p>
				<p>
					<label>执行时间：</label>
					<input type="text" size="40" class="required textInput" name="" id="" value="2014-09-02 12:12:12" />
				</p>
				<p>
					<label>计划类型：</label>
					<select name="" id="" class="combox">
						<option value="1">部署</option>
						<option value="2">启动</option>
						<option value="3">关闭</option>
						<option value="4">即部署又启动</option>
					</select>
				</p>
				<p>
					<label>启动进程数：</label>
					<input type="text" size="40" class="required textInput" name="" id="" />
				</p>
				<p>
					<label>配置文件：</label>
					<input type="text" size="35" class="required textInput" name="config.name" id="" readonly=true/>
					<a href="/index.php/Service/Repertory/select_info" rel="select_info_win" title="配置信息选择" mask="true" width="900" height="400" class="btnLook"  lookupgroup="config">查找带回</a>
				</p>
				<p>
					<label>备注：</label>
					<input type="text" size="40" class="required textInput" name="" id="" />
				</p>