<div class="table_list_tit">硬件信息</div>
<div class="tableList" layouth="73">
	<table class="list tac" width="100%">
		<thead>
			<tr>
				<th>序号</th>
				<th>IP地址</th>
				<th>主机名</th>
				<th>Cpu</th>
				<th>内存使用</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2</td>
				<td>172.17.0.1</td>
				<td>host</td>
				<td>80%</td>
				<td>60%</td>
			</tr>
		</tbody>
	</table>
	
	<table class="list tac mt10" width="100%">
		<thead>
			<tr>
				<th>序号</th>
				<th>服务</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>as_pos</td>
				<td>
					<a href="/index.php/Service/sermonitor/config_info" target="dialog" title="查看配置文件信息" rel="sermonitor_program_win" mask="true" width="500" height="500" class="btnView">查看配置文件信息</a>
					<a href="/index.php/Service/sermonitor/del_hardware" target="ajaxTodo" title="确定要删除？" class="btnDel">删除</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>