<div class="pageContent" style="width: 420px;">
	<form method="post" action="__URL__/insert/method/addtype" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)" novalidate="novalidate">
		<div class="pageFormContent" layouth="58" style="height: 297px; overflow: auto;">
			
			<p>
				<label>机器名称：</label>
				<input type="text" size="28" name="machineName" class="textInput">
				<input type="hidden" size="28" name="serverTypeId" class="textInput" value="{$_REQUEST['id']}">
			</p>
			<p>
				<label>Appid：</label>
				<input type="text" size="28" name="appId" class="textInput" value="{$appId}">
			</p>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">添加</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
