<div class="pageContent" style="width: 420px;">
	<form method="post" action="__URL__/update/method/updatetype" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)" novalidate="novalidate">
		<div class="pageFormContent" layouth="58" style="height: 297px; overflow: auto;">
			<p>
				<label style="width:150px;">服务类型：</label>
				<input type="text" size="28" maxlength="30" name="serverType" class="required textInput" value="{$list['serverType']}" disabled >
			</p>
			<p>
				<label style="width:150px;">服务类型名称：</label>
				<input type="text" size="28" maxlength="30" name="typeName" class="required textInput" value="{$list['typeName']}" >
				<input type="hidden" size="28" name="id" class="textInput" value="{$list['id']}">
				<input type="hidden" size="28" name="groupId" class="textInput" value="{$list['groupId']}">
			</p>
			
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">修改</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
