<div class="pageContent">
	<form method="post" action="" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)" novalidate="novalidate">
		<div class="pageFormContent" layouth="58">
			<p>点击下载EXCEL文件: <a href="#">monthrent173326[1].xls</a></p>
			<div style="height:30px;line-height:30px;">提示：如果下载不成功，请尝试右键点击文件名，选择“目标另存为(A)...”</div>
		</div>
		<div class="formBar">
			<ul>
				<!-- <li><div class="buttonActive"><div class="buttonContent"><button type="submit">确定</button></div></div></li> -->
				<li><div class="buttonActive"><div class="buttonContent"><a class="edit" href="javascript:void(0);" id="toexcel_L40603" rel="toexcel_L40603"><span>导出EXCEL</span></a></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
