<include file="Public:pagerFormLog" />
<div class="pageHeader">
	<form rel="pagerForm" method="post" action="__URL__" onsubmit="return dwzSearch(this, 'dialog');">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label>主机名:</label>
				<input class="textInput" name="hostname" value="{$_REQUEST['hostname']}" type="text">
			</li>
		</ul>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
				<li><div class="buttonActive"><div class="buttonContent"><button type="button" multLookup="orgId" warn="请选择产品">选择带回</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<table class="table" targetType="dialog" layoutH="112" width="100%">
		<thead>
			<tr>
				<th width="30"><input type="checkbox" class="checkboxCtrl" group="orgId" /></th>
				<th width="60">序号</th>
				<th width="60">主机IP</th>
				<th>主机名</th>
				<th width="100">所属产品</th>
				<th>用户名</th>
				<th>服务器型号</th>
				<th>区域名称</th>
				<th>操作系统</th>
			</tr>
		</thead>
		<tbody>
		<volist id="vo" name="list">
			<tr target="sid_user" rel="{$vo['severid']}" onclick="checkTime(this);">
				<?php
					$valueStr = "{id:".$vo['severid'].",name:'".$vo['hostname']."'}"; 
				?>
				<td class="center" style="width: 43px;"><div onclick="checkTime1(this);"><input type="checkbox" value="{$valueStr}" name="orgId"></div></td>
				<td>
					<?php
						$listnums = $numPerPage * ($currentPage-1) + $key+1;
						echo $listnums;
					?>
				</td>
				<td>{$vo['ipv']}</td>
				<td>{$vo['hostname']}</td>
				<td>{$vo['product_names']}</td>
				<td>{$vo['username']}</td>
				<td>{$vo['st_char']}</td>
				<td>{$vo['ar_name']}</td>
				<td>{$vo['system']}</td>
			</tr>
		</volist>
		</tbody>
	</table>

	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="dialogPageBreak({numPerPage:this.value})">
				<?php
					$numPerPageArr = array(20,50,100,200);
					foreach($numPerPageArr as $val)
					{
						if($val == $numPerPage)
							$selected = 'selected';
						echo '<option value="'.$val.'" '.$selected.'>'.$val.'</option>';
							$selected = '';
					}
				?>
			</select>
			<span>条，共{$totalCount}条</span>
		</div>
		<div class="pagination" targetType="dialog" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="5" currentPage="{$currentPage}"></div>
	</div>
</div>

<script type="text/javascript">
<!--
	function checkTime(obj)
	{
		 var tempObj =  $(obj);
	     var nowObj =tempObj.find('input');
		 var checked = nowObj.attr('checked');
	     if(checked){
	  	   nowObj.removeAttr('checked');
	     }else{
	  	   nowObj.attr('checked','true');
	  	 }
	}
	function checkTime1(obj)
	{
		 var tempObj =  $(obj);
	     var nowObj =tempObj.find('input');
		 var checked = nowObj.attr('checked');
	     if(checked){
	  	   nowObj.removeAttr('checked');
	     }else{
	  	   nowObj.attr('checked','true');
	  	 }
	}
-->
</script>