<div class="pagerListInfo">
	<form id="pagerForm" action="__URL__/queryServer" method="post">
		<input type="hidden" name="pageNum" value="1"/>
		<input type="hidden" name="numPerPage" value="{$_REQUEST.numPerPage}"/>
		<input type="hidden" name="_order" value="{$_REQUEST._order}"/>
		<input type="hidden" name="_sort" value="{$_REQUEST._sort}"/>
		<volist name="map" id="m">
	    <input type="hidden" name="{$key}" value="{$_REQUEST[$key]}"/>
	    </volist>
	</form>
</div>

<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return dialogSearch(this);" action="__URL__/queryServer" method="post">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
			<label>主机名：</label>
			<input type="text" value="{$_REQUEST['hostname']}" name="hostname" class="textInput">
			</li>
			<li>
			<label>IP地址：</label>
			<input type="text" value="{$_REQUEST['ipv']}" name="ipv" class="textInput">
			</li>
			<li>
			<label>所属环境：</label>
			<select name="environment" class="combox">					
				<option value="">请选择环境</option>
				<volist id="enviro" name="environment">
					<if condition="$key eq $_REQUEST['environment']"><option value="{$key}" selected>{$enviro}</option>
					<else/><option value="{$key}">{$enviro}</option>
					</if>
				</volist>
			</select>
			</li>
			<li>
			<label>主机类型：</label>
			<select name="isVirtual" class="combox">					
				<option value="">请选择</option>
				<volist id="virtualval" name="virtual">
					<if condition="$key eq $_REQUEST['isVirtual']"><option value="{$key}" selected>{$virtualval}</option>
					<else/><option value="{$key}">{$virtualval}</option>
					</if>
				</volist>
			</select>
			</li>
		</ul>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>

<div class="pageContent">
	<table class="table" width="100%" layoutH="138">
		<thead>
		<tr>
			<th width="60">序号</th>
			<th>主机IP</th>
			<th>主机名</th>
			<th>主机类型</th>
			<th>所属环境</th>
			<th>所属产品</th>
			<th>设备类型</th>
			<th>宿主机名</th>
			<th width="105">操作</th>
		</tr>
		</thead>
		<tbody>
		<volist id="vo" name="list">
			<tr>
				<td>
					<?php
						$listnums = $numPerPage * ($currentPage-1) + $key+1;
						echo $listnums;
					?>
				</td>
				<td>{$vo['ipv']}</td>
				<td>{$vo['hostname']}</td>
				<td>{$vo['physicalVirtualType']}</td>
				<td>{$environment[$vo['environment']]}</td>
				<td>{$vo['product_names']}</td>
				<td>{$vo['deviceName']}</td>
				<td>{$vo['physicalName']}</td>
				<td>
					<a class="btnSelect" title="查找带回此值"  href="javascript:$.bringBack({'id':'<?php echo $vo['severid'] ?>','ip':'<?php echo $vo['ipv'] ?>'})" >选择</a>
				</td>
			</tr>
		</volist>
		</tbody>
	</table>
	
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="dialogPageBreak({numPerPage:this.value})">
				<?php
					$numPerPageArr = array(20,50,100,200);
					foreach($numPerPageArr as $val)
					{
						if($val == $numPerPage)
							$selected = 'selected';
						echo '<option value="'.$val.'" '.$selected.'>'.$val.'</option>';
							$selected = '';
					}
				?>
			</select>
			<span>条，共{$totalCount}条</span>
		</div>
		<div class="pagination" targetType="dialog" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="5" currentPage="{$currentPage}"></div>
	</div>
</div>
