<div class="pageContent">
<form method="post" action="__URL__/edit" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)" novalidate="novalidate">
	<div class="pageFormContent" layouth="58" style="height: 297px; overflow: auto;">
			<p>
				<label>服务器类型编号：</label>
				<input class="required" type="text" id="stChar" name="stChar" maxlength="15" size="30" value="<?php echo $row['stChar'];?>"/>
				<input type="hidden" name="id" id="id" value="<?php echo $row['id'];?>"/>
			</p>
			<p>
				<label>服务器型号描述：</label>
				<input class="required" type="text" id="stModel" name="stModel" maxlength="50" size="30" value="<?php echo $row['stModel'];?>"/>
			</p>
			<p>
				<label>服务器功能描述：</label>
				<input class="required" type="text" id="stDec" name="stDec" maxlength="50" size="30" value="<?php echo $row['stDec'];?>"/>
			</p>
			<p>
				<label>备注：</label>
				<input class="required" type="text" id=" " name=" " maxlength="50" size="30" value="<?php echo $row['username'];?>"/>
			</p>
			
	</div>
	<div class="formBar">
		<ul>
			<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
		</ul>
	</div>
</form>
</div>