<div class="pageContent">

	<form method="post" action="__URL__/add" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)" novalidate="novalidate">
		<div class="pageFormContent" layouth="58">
			<p>
				<label>角色名称：</label>
				<input type="text" size="28" name="roleName" class="textInput">
			</p>
			<p>
				<label>角色描述：</label>
				<input type="text" size="28" name="roleDesc" class="textInput">
			</p>
			<p>
				<label>角色编码：</label>
				<input type="text" size="28" name="roleCode" class="textInput">
			</p>
			<p>
				<label>所属产品：</label>
				<select name="productId" id="" class="combox">
					<volist id="vo" name="products">
					<option value="{$vo['id']}">{$vo['productName']}</option>
					</volist>

				</select>

			</p>
			<p>
				<label>备注：</label>
				<input type="text" size="28" name="remark" class="textInput">
			</p>

		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">添加</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>



