<div class="pageContent">
	<form method="post" action='/index.php/Service/Deployment/add' class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);" novalidate="novalidate">
		<div class="pageFormContent" layouth="58">
			<p>
				<label>类型：</label>
				<select name="smTyProperty" id="" class="combox">
					<option value="1">主机脚本 </option>
					<option value="2">节点脚本</option>					
				</select>
			</p>
			<p>
				<label>脚本名称：</label>
				<input type="text" size="40" class="required textInput" name="smName" id="" />
			</p>
			<p>
				<label>存储路径：</label>
				<input type="text" size="40" class="required textInput" name="smAddress" id="" />
			</p>
			<p>
				<label>参数说明：</label>
				<input type="text" size="40" class="required textInput" name="smParameters" id="" />
			</p>
			<p>
				<label>功能描述：</label>
				<input type="text" size="40" class="required textInput" name="smFunction" id="" />
			</p>
			<p>
				<label>执行前缀：</label>
				<input type="text" size="40" class="required textInput" name="smDemo" id="" />
			</p>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
